/*------------------------------------------------------------------
Slice slider and carousel

[Table of contents]
1. Top banner
2. Banner sizes
2. Fullscreen banner

------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Top banner]
------------------------------------------------------------------*/
.slice-banner-top {
  height: 680px;
}
.slice-banner-top,
.slice-banner-top .slice-last-layer {
  max-height: 100vh;
}
/*------------------------------------------------------------------
[2. Banner sizes]
------------------------------------------------------------------*/
.slice-banner-xs {
  height: 90px;
}
.slice-banner-sm {
  height: 250px;
}
.slice-banner-md {
  height: 480px;
}
.slice-banner-lg {
  height: 600px;
}
.slice-banner-xl {
  height: 780px;
}
.slice-banner-full {
  height: 100%;
  width: 100%;
}
/*------------------------------------------------------------------
[3. Fullscreen banner]
------------------------------------------------------------------*/
.slice-banner-fullscreen {
  height: 100vh;
}
