/*------------------------------------------------------------------
Slim theme styles

[Table of contents]
1. Navigation basic styles
2. Vertical navigation
3. Default and sides navigation
4. Navigation over

------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Navigation basic styles]
------------------------------------------------------------------*/
.slice-theme-minimalistic .st-chevron-prev,
.slice-theme-minimalistic .st-chevron-next {
  position: relative;
  display: inline-block;
  width: 1.4em;
  height: 5em;
  background: #22222259;
}
.slice-theme-minimalistic .st-chevron-prev.st-center,
.slice-theme-minimalistic .st-chevron-next.st-center {
  width: 0.625em;
}
.slice-theme-minimalistic .st-chevron-prev span,
.slice-theme-minimalistic .st-chevron-next span {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -0.5px;
  height: 1px;
  width: 0.7071em;
  background-color: #ececec;
  transform-origin: 0.5px 50%;
  transition: all 0.1s linear 0s;
}
.slice-theme-minimalistic .st-chevron-prev span:nth-child(1),
.slice-theme-minimalistic .st-chevron-next span:nth-child(1) {
  transform: rotate(-45deg);
}
.slice-theme-minimalistic .st-chevron-prev span:nth-child(2),
.slice-theme-minimalistic .st-chevron-next span:nth-child(2) {
  transform: rotate(45deg);
}
.slice-theme-minimalistic .st-chevron-next {
  transform: rotate(180deg);
}
.slice-theme-minimalistic .slice-arrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  text-shadow: 0 0 2px rgba(0,0,0,0.3), 0 0 0 rgba(0,123,255,0.8);
  text-align: center;
  margin: 2px;
}
.slice-theme-minimalistic .slice-arrow .st-chevron-next span,
.slice-theme-minimalistic .slice-arrow .st-chevron-prev span {
  box-shadow: 0 0 2px rgba(0,0,0,0.3), 0 0 0 rgba(0,123,255,0.8);
  transition: all 0.1s linear 0s;
}
.slice-theme-minimalistic .slice-arrow:not(.slice-disabled):hover,
.slice-theme-minimalistic .slice-arrow:not(.slice-disabled):focus {
  color: #0069d9;
  text-shadow: 0 0 2px rgba(0,0,0,0.3), 0 0 5px rgba(0,123,255,0.8);
  cursor: pointer;
}
.slice-theme-minimalistic .slice-arrow:not(.slice-disabled):hover .st-chevron-prev span,
.slice-theme-minimalistic .slice-arrow:not(.slice-disabled):focus .st-chevron-prev span,
.slice-theme-minimalistic .slice-arrow:not(.slice-disabled):hover .st-chevron-next span,
.slice-theme-minimalistic .slice-arrow:not(.slice-disabled):focus .st-chevron-next span {
  background-color: #0069d9;
  box-shadow: 0 0 2px rgba(0,0,0,0.3), 0 0 5px rgba(0,123,255,0.8);
}
.slice-theme-minimalistic .slice-arrow.slice-disabled .st-chevron-prev span,
.slice-theme-minimalistic .slice-arrow.slice-disabled .st-chevron-next span {
  background-color: #ccc !important;
}
.slice-theme-minimalistic .slice-dot {
  width: 12px;
  height: 12px;
  margin-right: 15px;
  background: transparent;
}
.slice-theme-minimalistic .slice-dot:before,
.slice-theme-minimalistic .slice-dot:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  border-radius: 50%;
  transition: all 0.1s linear 0s;
}
.slice-theme-minimalistic .slice-dot:before {
  box-shadow: 0 1px 4px -1px rgba(0,0,0,0.8);
}
.slice-theme-minimalistic .slice-dot:last-child {
  margin-right: 0;
}
.slice-theme-minimalistic .slice-dot:focus:after,
.slice-theme-minimalistic .slice-dot:hover:after {
  background-color: #0069d9;
}
.slice-theme-minimalistic .slice-dot:focus:before,
.slice-theme-minimalistic .slice-dot:hover:before {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.slice-theme-minimalistic .slice-dot.slice-current:before,
.slice-theme-minimalistic .slice-dot.slice-current:after {
  width: 75%;
  height: 75%;
  background-color: #007bff;
}
.slice-theme-minimalistic .slice-dot.slice-current:before {
  opacity: 0.5;
}
.slice-theme-minimalistic .slice-dot.slice-current:after {
  box-shadow: 0 1px 4px -1px rgba(0,0,0,0.8);
}
.slice-theme-minimalistic .slice-arrows-vertical,
.slice-theme-minimalistic .slice-dot-vertical {
  display: none;
}
.slice-theme-minimalistic .slice-arrows-horizontal,
.slice-theme-minimalistic .slice-dot-horizontal {
  display: block;
}
/*------------------------------------------------------------------
[2. Vertical navigation]
------------------------------------------------------------------*/
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .st-chevron-prev,
.slice-theme-minimalistic.st-arrows-over-vertical .st-chevron-prev,
.slice-theme-minimalistic.st-arrows-sides-vertical .st-chevron-prev {
  transform: rotate(90deg);
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .st-chevron-next,
.slice-theme-minimalistic.st-arrows-over-vertical .st-chevron-next,
.slice-theme-minimalistic.st-arrows-sides-vertical .st-chevron-next {
  transform: rotate(-90deg);
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-arrow,
.slice-theme-minimalistic.st-arrows-over-vertical .slice-arrow,
.slice-theme-minimalistic.st-arrows-sides-vertical .slice-arrow {
  height: 0.5em;
  width: 24px;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-arrows-vertical,
.slice-theme-minimalistic.st-arrows-over-vertical .slice-arrows-vertical,
.slice-theme-minimalistic.st-arrows-sides-vertical .slice-arrows-vertical {
  display: block;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-arrows-horizontal,
.slice-theme-minimalistic.st-arrows-over-vertical .slice-arrows-horizontal,
.slice-theme-minimalistic.st-arrows-sides-vertical .slice-arrows-horizontal {
  display: none;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-dots,
.slice-theme-minimalistic.st-dots-over-vertical .slice-dots,
.slice-theme-minimalistic.st-dots-sides-vertical .slice-dots {
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: auto;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-dot-vertical,
.slice-theme-minimalistic.st-dots-over-vertical .slice-dot-vertical,
.slice-theme-minimalistic.st-dots-sides-vertical .slice-dot-vertical {
  display: block;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-dot-horizontal,
.slice-theme-minimalistic.st-dots-over-vertical .slice-dot-horizontal,
.slice-theme-minimalistic.st-dots-sides-vertical .slice-dot-horizontal {
  display: none;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-dot,
.slice-theme-minimalistic.st-dots-over-vertical .slice-dot,
.slice-theme-minimalistic.st-dots-sides-vertical .slice-dot {
  margin-bottom: 15px;
  margin-right: 0;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-dot:last-child,
.slice-theme-minimalistic.st-dots-over-vertical .slice-dot:last-child,
.slice-theme-minimalistic.st-dots-sides-vertical .slice-dot:last-child {
  margin-bottom: 0;
}
/*------------------------------------------------------------------
[5. Default|auto and sides navigation]
------------------------------------------------------------------*/
.slice-theme-minimalistic.st-nav-auto:not(.slice-slider-vertical) .slice-arrows-layer,
.slice-theme-minimalistic.st-arrows-sides .slice-arrows-layer {
  -ms-flex-direction: row;
  flex-direction: row;
}
.slice-theme-minimalistic.st-nav-auto:not(.slice-slider-vertical) .slice-arrows-layer > .slice-layer,
.slice-theme-minimalistic.st-arrows-sides .slice-arrows-layer > .slice-layer {
  height: 100%;
}
.slice-theme-minimalistic.st-nav-auto:not(.slice-slider-vertical) .slice-prev,
.slice-theme-minimalistic.st-arrows-sides .slice-prev {
  -ms-flex-order: 4;
  order: 4;
}
.slice-theme-minimalistic.st-nav-auto:not(.slice-slider-vertical) .slice-next,
.slice-theme-minimalistic.st-arrows-sides .slice-next {
  -ms-flex-order: 6;
  order: 6;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-prev,
.slice-theme-minimalistic.st-arrows-sides-vertical .slice-prev {
  -ms-flex-order: 4;
  order: 4;
  margin-bottom: 15px;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-next,
.slice-theme-minimalistic.st-arrows-sides-vertical .slice-next {
  -ms-flex-order: 6;
  order: 6;
  margin-top: 15px;
}
.slice-theme-minimalistic.st-nav-auto:not(.slice-slider-vertical) .slice-dots,
.slice-theme-minimalistic.st-dots-sides .slice-dots {
  margin-top: 15px;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-dots-layer,
.slice-theme-minimalistic.st-dots-sides-vertical .slice-dots-layer {
  -ms-flex-direction: row;
  flex-direction: row;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-dots-layer > .slice-layer,
.slice-theme-minimalistic.st-dots-sides-vertical .slice-dots-layer > .slice-layer {
  height: 100%;
}
.slice-theme-minimalistic.st-nav-auto.slice-slider-vertical .slice-dots,
.slice-theme-minimalistic.st-dots-sides-vertical .slice-dots {
  margin-left: 15px;
}
/*------------------------------------------------------------------
[4. Navigation over]
------------------------------------------------------------------*/
.slice-theme-minimalistic.st-arrows-over .slice-arrow,
.slice-theme-minimalistic.st-arrows-over-vertical .slice-arrow {
  color: #fff;
}
.slice-theme-minimalistic.st-arrows-over .slice-arrow.slice-disabled,
.slice-theme-minimalistic.st-arrows-over-vertical .slice-arrow.slice-disabled {
  opacity: 0.5;
}
.slice-theme-minimalistic.st-arrows-over .slice-arrow .st-chevron-prev span,
.slice-theme-minimalistic.st-arrows-over-vertical .slice-arrow .st-chevron-prev span,
.slice-theme-minimalistic.st-arrows-over .slice-arrow .st-chevron-next span,
.slice-theme-minimalistic.st-arrows-over-vertical .slice-arrow .st-chevron-next span {
  background-color: #fff;
}
.slice-theme-minimalistic.st-arrows-over .slice-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slice-theme-minimalistic.st-arrows-over .slice-prev {
  left: 15px;
}
.slice-theme-minimalistic.st-arrows-over .slice-next {
  right: 15px;
}
.slice-theme-minimalistic.st-arrows-over-vertical .slice-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.slice-theme-minimalistic.st-arrows-over-vertical .slice-prev {
  top: 15px;
}
.slice-theme-minimalistic.st-arrows-over-vertical .slice-next {
  bottom: 15px;
}
.slice-theme-minimalistic.st-dots-over .slice-dot:before,
.slice-theme-minimalistic.st-dots-over-vertical .slice-dot:before,
.slice-theme-minimalistic.st-dots-over .slice-dot:after,
.slice-theme-minimalistic.st-dots-over-vertical .slice-dot:after {
  background-color: #fff;
}
.slice-theme-minimalistic.st-dots-over .slice-dot:focus:after,
.slice-theme-minimalistic.st-dots-over-vertical .slice-dot:focus:after,
.slice-theme-minimalistic.st-dots-over .slice-dot:hover:after,
.slice-theme-minimalistic.st-dots-over-vertical .slice-dot:hover:after {
  background-color: #0069d9;
}
.slice-theme-minimalistic.st-dots-over .slice-dot.slice-current:before,
.slice-theme-minimalistic.st-dots-over-vertical .slice-dot.slice-current:before,
.slice-theme-minimalistic.st-dots-over .slice-dot.slice-current:after,
.slice-theme-minimalistic.st-dots-over-vertical .slice-dot.slice-current:after {
  background-color: #fff;
}
.slice-theme-minimalistic.st-dots-over .slice-dots {
  position: absolute;
  left: 0;
  bottom: 15px;
}
.slice-theme-minimalistic.st-dots-over-vertical .slice-dots {
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  right: 15px;
  -ms-flex-direction: column;
  flex-direction: column;
}
